{% load static %}
{% load i18n %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Localization</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
</head>
<body>
<div class="container">
    <nav class="navbar is-light">
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-light" href="/news">
                    <i class="fas fa-globe"></i>&nbsp;&nbsp;{% trans 'News' %}
                </a>
                <a class="navbar-item is-light" href="/news/about">
                    <i class="fas fa-info"></i>&nbsp;&nbsp;{% trans 'About' %}
                </a>
            </div>
        </div>
    </nav>
</div>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="has-text-centered title is-2">
                {% trans 'Newspaper Website' %}
            </h1>
        </div>
    </div>
</section>
<div class="container">
    {% block content %}
    {% endblock %}
    <div id="js_content">
    </div>
    <script src="{% static 'news/js/test.js' %}"></script>
</div>

</body>
</html>
